@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

body{
    font-family: "Kanit";
    position: relative;
    background-color: #383838;
    color: white;
}
header{
    text-align: center;
    background-color: #9887fd;
    padding: 1px;
    color: #383838;
    margin: -8px;
}
header img{
    max-width: 2.5cm;
    max-height: 2.5cm;
}
header h1{
    text-decoration: #383838 wavy underline;
}
header h2{
    text-align: left;
    display: inline;
    margin-top: 1px;
}
.fn-item-all{
    grid-gap:16px 8px;
    margin-bottom:30px;
    padding: 200px;
    display:flex;
    flex-wrap:wrap;
}
.fn-item-unit{
    background-color: white;
    border-radius: 5px;
    border: solid 5px #512fdb;
    color: #383838;
    margin-bottom: 10px;
    cursor:pointer;
    margin-right: 20px;
}
.fn-item-unit img{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
.fn-item-unit p{
    text-align: center;
}
footer{
    margin-bottom: -18px;
    margin-right: -8px;
    margin-left: -8px;
    background: #fff;
    color: #383838;
}
footer .content-footer{
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
    color: #383838;
}
footer .content-footer a{
    text-decoration: none;
    color: #383838;
    margin: 70px;
}
footer .content-footer .Easter-Egg a{
    color: #ffffff;
    cursor:pointer;
    margin-left: 600px;
    margin-right: 600px;
}